@font-face {
    font-family: 'RobotoCondensed';
    src: url('../../Fonts/RobotoCondensed-Bold.ttf');
   }

.container__navbar{
    background-color:  rgba(148, 155, 160, 0.5);
    width: 100%;
    height: 70px;
    margin: 0;
    display: flex;
    font-family: 'RobotoCondensed';
    color: black;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    position: fixed
    
}

.container__logo a {

        display: flex;
        justify-content:flex-start;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
        margin-left: -190px;
        text-align: center;
      
}
.container__logo img {
    /* pointer-events: none; */
    width: 70px;
    height: 70px;
  }
  .container__logo p {
    font-family: "RobotoCondensed";
    text-transform: uppercase;
    text-decoration: none;
  } 
  
  .container__navbar ul {
    display: flex;
    gap: 2rem;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .button__ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 400;
    font-family: "RobotoCondensed";
    font-size: 16px;
    text-decoration: underline;
  }
  
  .container__navbar ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 100%;
    /* width: 6rem; */
    padding: 0 1rem;
    color:  black;
    font-weight: 400;
    font-family: "RobotoCondensed";
  }
  
  .container__navbar ul a:hover {
    /* background-color: var(--primary); */
    color: grey
  }
  
  .button__ul:hover {
    background-color: var(--primary);
    color: grey
  }
  
  .container__rodeos {
    position: absolute;
    /* z-index: 1000; */
    top: 90px;
    width: 100%;
    font-family: "RobotoCondensed";
    text-decoration: none;
  }
  
  .container__rodeos ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    background-color: rgba(198, 173, 148, 0.5);
    text-decoration: none;
  }
  
  .container__rodeos ul a {
    list-style-type: none;
    color:black;
    font-weight: 400;
  }
  
  .container__rodeos ul a:hover {
    color: black
  }
  
/* .navigation a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    text-align: justify;
  }

.links{
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.links li:hover a {
   
    color: rgba(44, 110, 73, 0.5);
   text-decoration: underline;
   
}
 .logo{
  display: flex;
  justify-content: center;
  margin-right: 300px;
  
 }

 .rodeos_menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0;
    padding: 10px;
    list-style: none;
    margin: 0;
    display: none;
  }
  
  .rodeos_link:hover .rodeos-menu {
    display: block;
  }

  .dropdown_container > a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .dropdown_container > a:hover {
    color: inherit;
  }
  
  
  
  
   */